<h1>Termékek</h1>

<button (click)="startShowModal()" class="btn btn-primary mb-3">Hozzáadás</button>
<div class="d-flex flex-wrap justify-content-center gap-3">
    @for( product of products; track product.id) {
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Név: {{product.name}}</h5>
            <p class="card-text"><span class="title">Id: </span>{{product.id}}</p>
            <p class="card-text"><span class="title">Forma: </span>{{product.form}}</p>
            <button class="btn btn-danger">Törlés</button>
            <button class="btn btn-warning ms-2">Módosítás</button>
        </div>
    </div>
    }
</div>



@if(showModal) {

<div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="startCloseModal()"></button>
            </div>
            <div class="modal-body">


                <form [formGroup]="productForm" (ngSubmit)="startSave()" id="productForm">
                    <div>
                        <label for="name" class="form-label">Név</label>
                        <input type="text" class="form-control" formControlName="name" id="name">
                    </div>
                    <div>
                        <label for="form" class="form-label">Forma</label>
                        <input type="text" class="form-control" formControlName="form" id="form">
                    </div>

                </form>


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" (click)="startCloseModal()">
                    Bezárás
                </button>

                <button type="submit" class="btn btn-primary" form="productForm">
                    Mentés
                </button>
            </div>
        </div>
    </div>
</div>
}