@media screen and (max-width:600px) {
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    thead tr {
        display: none;
    }

    td::before {
        content: attr(data-column);
        float: left;
        font-weight: bold;
        width: 45%;
        }
}